body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: #011049; }

header {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px; }
  header img {
    border-radius: 50%;
    width: 8.25%; }
  header .text-content {
    text-align: center;
    margin: 0 auto; }

.about,
.skills,
.projects {
  margin: 2rem auto;
  padding: 20px;
  width: 90%;
  text-align: center;
  height: 75vh; }
  .about h2,
  .skills h2,
  .projects h2 {
    color: #1640D6; }
  .about ul,
  .skills ul,
  .projects ul {
    margin: 0;
    padding: 0; }
  .about li,
  .skills li,
  .projects li {
    list-style: none;
    margin-bottom: 12px; }
  .about .section-text-container,
  .skills .section-text-container,
  .projects .section-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40%; }

section {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px; }

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%; }
